.box-video-materials {
  margin-bottom: 76px;

  &__line-title {
    margin-bottom: 32px;
  }
}

@media (max-width: 1100px) {
  .box-video-materials {
    margin-bottom: 64px;

    &__line-title {
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 950px) {
  .box-video-materials {
    margin-bottom: 52px;

    &__line-title {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 750px) {
  .box-video-materials {
    margin-bottom: 48px;
  }
}
