.box-ready {
  &__line-title {
    margin-bottom: 28px;
  }

  
}

@media (max-width: 1100px) {
  .box-ready {
    &__line-title {
      margin-bottom: 20px;
    }

    
  }
}

@media (max-width: 750px) {
  .box-ready {
    &__line-title {
      .min-title {
        font-size: 20px;
      }
    }

    
  }
}