.box-video {
  &__line-title {
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

}

@media (max-width: 1100px) {
  .box-video {
    &__line-title {
      margin-bottom: 24px;
    }

    &__list {
      gap: 20px;
    }
  }
}

@media (max-width: 950px) {
  .box-video {
    &__list {
      gap: 16px;
    }
  }
}

@media (max-width: 750px) {
  .box-video {
    &__line-title {
      margin-bottom: 20px;
    }
  }
}