.box-portfolio-detailed {
  margin-bottom: 76px;
  overflow: hidden;

  &__line-title {
    margin-bottom: 32px;
  }

  &__line-top {
    margin-bottom: 32px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }

  &__group-logo {
    display: flex;
    align-items: center;
    gap: clamp(24px, 2vw + 12px, 36px);
  }

  &__box-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    .img-logo {
      width: 100%;
      max-width: 80px;
      max-height: 80px;
    }
  }

  &__group-info {
    padding-top: 9px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: clamp(24px, 2vw + 12px, 36px);
  }

  &__box-info {
    display: flex;
    flex-direction: column;
    gap: 2px;

    &:first-child {
      .info-desc {
        white-space: nowrap;
      }
    }

    .info-title {
      color: var(--black);
      font-family: var(--font-family);
      font-size: 14px;
      font-style: normal;
      font-weight: 200;
      line-height: normal;
    }

    .info-desc {
      color: #000;
      font-family: var(--font-family);
      font-size: 17px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }

  &__line-btns {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    &:has(.group-arrow.hidden) {
      justify-content: end;
    }
  }

  &__box-desc {
    margin-bottom: 36px;
  }

  &__elem-tile {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media (max-width: 1100px) {
  .box-portfolio-detailed {
    margin-bottom: 68px;

    &__line-title {
      margin-bottom: 24px;
    }

    &__line-top {
      margin-bottom: 26px;
    }

    &__group-logo {
      gap: 24px;
    }

    &__group-info {
      padding-top: 0;
      gap: clamp(24px, 2vw + 12px, 32px);
    }

    &__box-info {
      &:first-child {
        .info-desc {
          white-space: wrap;
        }
      }

      .info-desc {}
    }

    &__box-desc {
      margin-bottom: 32px;
    }

    &__line-btns {
      padding-top: 20px;
    }
  }
}

@media (max-width: 950px) {
  .box-portfolio-detailed {
    margin-bottom: 68px;

    &__line-top {
      flex-direction: column;
      gap: 28px;
    }

    &__group-info {
      gap: clamp(15px, 3.33vw + 8px, 47px);
    }

    &__box-info {
      max-width: 182px;
    }

    &__line-btns {
      .group-arrow {
        gap: 6px;
      }

      .btn-arrow {
        width: 48px;
        min-width: 48px;
        height: 48px;

        svg {
          width: 16px;
          height: 8px;
        }
      }
    }

    &__box-desc {
      margin-bottom: 28px;
    }

    &__elem-tile {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media (max-width: 750px) {
  .box-portfolio-detailed {
    margin-bottom: 52px;

    &__line-title {
      margin-bottom: 20px;
    }

    &__line-top {
      margin-bottom: 20px;
    }

    &__group-logo {
      .img-logo {
        max-width: 106px;
        max-height: 106px;
        min-width: 106px;
        min-height: 106px;
      }
    }

    &__group-info {
      flex-direction: column;
      gap: 20px;
    }

    &__box-info {
      max-width: 100%;
    }

    &__box-desc {
      margin-bottom: 24px;
    }

    &__line-btns {
      padding-top: 12px;
    }

    &__elem-tile {
      grid-template-columns: 1fr;
      gap: 12px;
    }
  }
}