.box-portfolio-detailed-2 {
  &__box-links {
    display: flex;
    gap: 8px;
  }

  .link-all {
    padding: 16px 44px;
  }
}

@media (max-width: 1100px) {
  .box-portfolio-detailed-2 {
    .link-all {
      padding: 16px 29px;
    }
  }
}

@media (max-width: 950px) {
  .box-portfolio-detailed-2 {
    .link-all {
      padding: 14px 33px;
    }
  }
}

@media (max-width: 750px) {
  .box-portfolio-detailed-2 {
    .box-portfolio-detailed__line-btns {
      .group-arrow {
        display: none;
      }
    }
    &__box-links {
      width: 100%;
      flex-direction: column;
      gap: 8px;
    }
    .link-all {
      width: 100%;
    }
  }
}