.box-our-services {
  &__line-title {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 28px;
  }
}

@media (max-width: 1100px) {
  .box-our-services {
    &__line-title {
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 950px) {
  .box-our-services {
    &__line-title {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 750px) {
  .box-our-services {
    &__line-title {
      margin-bottom: 16px;
    }
  }
}