.box-modal-1 {
  position: fixed;
  inset: 0;
  z-index: 4;
  display: flex;
  justify-content: end;
  background: rgba(30, 30, 30, 0.50);
  &.active {
    .box-modal-1__window {
      transform:none;
    }
  }
  &__window {
    position: relative;
    display: flex;
    flex-direction: column;
    transform: translate(120%);
    gap: 28px;
    width: 100%;
    max-width: 588px;
    background-color: var(--white);
    padding: 56px 56px 10px 56px;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: color 0.4s ease-in-out;
    .svg {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      color: var(--blue);
    }
  }
  &__title {
    color: var(--black, #1E1E1E);
    font-family: var(--font-family);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-right: -30px;
    padding-right: 30px;
    max-height: 100%;
    overflow-y: auto;
    
    &.scrolled-top {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        inset: auto 30px -10px 0;
        height: 206px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
      }
    }

    &::-webkit-scrollbar {
      width: 4px;
    }
        
    &::-webkit-scrollbar-track {
      background-color: var(--white);
    }
        
    &::-webkit-scrollbar-thumb {
      background-color: var(--blue);
    }
  }
  &__list {
    
    display: flex;
    flex-direction: column;
    gap: 40px;
    li {
      position: relative;
      &:last-child {
        &::before {
          display: none;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: calc(100% + 20px);
        width: 100%;
        height: 1px;
        background-color: var(--gray-100, #EEF2F5);
      }
    }
  }
}

@-moz-document url-prefix() {
  .box-modal-1__content {
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(white);
  }
}

@media (min-width: 950px) {
  .box-modal-1 {
    &__window {
      transition: transform 0.4s ease-in-out;
    }
  }
}

@media (max-width: 950px) {
  .box-modal-1 {
    &__window {
      max-width: 100%;
      gap: 24px;
      padding: 56px 36px 10px 24px;
    }
    &__close {
      top: 24px;
      right: 24px;
      width: 36px;
      height: 36px;
    }
    &__title {
      font-size: 24px;
    }
    &__content {
      margin-right: -24px;
      padding-right: 24px;
      gap: 32px;
    }
    &__list {
      gap: 24px;
      li {
        &::before {
          top: calc(100% + 12px);
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .box-modal-1 {
    &__window {
      padding: 56px 20px 10px 16px;
    }
    &__title {
      font-size: 20px;
    }
    &__content {
      gap: 20px;
      margin-right: -8px;
      padding-right: 8px;
    }
  }
}