.box-message {
  &__content {
    padding: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    background-color: var(--gray-100);
    background-image: url(../img/box-message/ornament.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
  }
  &__desc {
    color: var(--black);
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .connection {
    &__btn {
      padding: 16px 32px;
      border-radius: 50px;
      color: var(--white);
      font-family: var(--font-family);
      font-size: 18px;
      border: 1px solid var(--gray-100);
      font-style: normal;
      font-weight: 200;
      line-height: 133.333%;
      background-color: var(--dark-blue);
      transition: border-color 0.4s ease-in-out;

      &:focus-visible,&:hover,&:active {
        border-color: var(--dark-blue);
      }

      .text {
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: 1100px) {
  .box-message {
    &__content {
      padding: 24px 34px;
      justify-content: space-between;
    }
    &__desc {
      font-size: 18px;
    }
    .connection {
      &__btn {
        padding: 14px 32px;
        width: auto;
        min-width: 100%;
        height: auto;
        font-size: 15px;
        line-height: 125%;
        .text {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .box-message {
    &__content {
      padding: 22px 32px;
      background-image: url(../img/box-message/ornament950.png);
    }

    .connection {
      &__btn {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 750px) {
  .box-message {
    &__content {
      padding: 24px 24px 28px;
      background-image: url(../img/box-message/ornament750.png);
      flex-direction: column;
      background-size: cover;
      gap: 24px;
    }

    &__box-connection {
      width: 100%;
    }

    .connection {
      width: 100%;
      display: flex;
    }
  }
}