.box-dream-team {
  margin-bottom: 92px;
}

@media (max-width: 1100px) {
  .box-dream-team {
    margin-bottom: 68px;
  }
}

@media (max-width: 950px) {
  .box-dream-team {
    margin-bottom: 48px;
  }
}

@media (max-width: 750px) {
  .box-dream-team {
    margin-bottom: 40px;
  }
}