.box-table-offer {
  &__line-title {
    margin-bottom: 28px;
  }

  &__content {
    &:has(.show-more) {
      .table-offer__line:nth-child(11) {
        border-bottom: none;
      }
    }

    &:has(.show-more.active) {
      .table-offer__line:nth-child(11) {
        border-bottom: 1px solid var(--gray-100);
      }
    }
  }
}

@media (max-width: 1100px) {
  .box-table-offer {
    &__line-title {
      margin-bottom: 20px;
    }

    &__content {
      margin: 0 -24px 0 0;
    }
  }
}

@media (max-width: 950px) {
  .box-table-offer {
    &__content {
      max-width: 450px;
      margin: 0 auto;
    }
  }
}