.box-example {
  &__content {
    padding: 56px;
    background-color: var(--gray-50);
    display: flex;
    justify-content: space-between;
    gap: calc(48 / 1168 * 100%);
  }

  &__left {
    width: calc(645 / 1168 * 100%);
  }

  &__right {
    width: calc(475 / 1168 * 100%);
  }

  &__line-title {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__desc {
    color: var(--black);
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__item {
    display: flex;
    gap: 12px;
    align-items: center;

    &::before {
      content: '';
      width: 17px;
      margin: auto 4px;
      height: 2px;
      background-color: var(--blue);
    }
  }

  &__box-img {
    display: flex;
    height: 100%;
    position: relative;

    /*&::before {
      content: '';
      display: block;
      padding-top: 61%;
    }*/
    picture {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1100px) {
  .box-example {
    &__content {
      padding: 36px 33px 36px 36px;
      gap: calc(25 / 907 * 100%);
    }

    &__left {
      min-width: 440px;
      width: calc(440 / 907 * 100%);
    }

    &__right {
      width: calc(442 / 907 * 100%);
    }
    &__line-title {
      margin-bottom: 12px;
      gap: 21px;

      .min-title {
        font-size: 24px;
        line-height: normal;
      }
    }
    &__desc {
      font-size: 17px;
      line-height: normal;
    }
    &__list {
      gap: 8px;
    }
  }
}

@media (max-width: 950px) {
  .box-example {
    &__content {
      padding: 28px;
      flex-direction: column;
      gap: 28px;
    }
    &__left {
      width: 100%;
      min-width: auto;
    }
    &__line-title {
      margin-bottom: 18px;
      gap: 12px;
    }
    &__list {
      gap: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      &::before {
        display: none;
      }
    }
    &__right {
      width: 100%;
      display: flex;
      min-height: 311px;
    }
    &__box-img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 750px) {
  .box-example {
    &__content {
      padding: 24px;
      gap: 24px;
    }
    &__line-title {
      margin-bottom: 16px;
      .min-title {
        font-size: 20px;
      }
    }
    &__desc {
      font-size: 16px;
    }
    &__list {
      gap: 12px;
      grid-template-columns: 1fr;
    }
    &__right {
      min-height: 224px;
    }
  }
}