.card-detailed-bottom {
  &__content {
    display: flex;
    gap: calc(32 / 1280 * 100%);

    &:has(.card-detailed-bottom__right) {
      .card-detailed-bottom__left {
        width: calc(752 / 1280 * 100%);
      }
    }

    &:has(.card-detailed-bottom__left) {
      .card-detailed-bottom__right {
        width: calc(496 / 1280 * 100%);
      }
    }
  }

  &__left {
    width: 100%;
  }

  &__right {
    width: 100%;
  }

  &__line-title {
    margin-bottom: 24px;
  }
}

@media (max-width: 1100px) {
  .card-detailed-bottom {
    &__content {
      gap: calc(20 / 976 * 100%);

      &:has(.card-detailed-bottom__right) {
        .card-detailed-bottom__left {
          width: calc(478 / 976 * 100%);
        }
      }

      &:has(.card-detailed-bottom__left) {
        .card-detailed-bottom__right {
          width: calc(478 / 976 * 100%);
        }
      }
    }

    &__line-title {
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 950px) {
  .card-detailed-bottom {
    &__content {
      flex-direction: column-reverse;
      gap: 40px;

      &:has(.card-detailed-bottom__right) {
        .card-detailed-bottom__left {
          width: 100%;
        }
      }

      &:has(.card-detailed-bottom__left) {
        .card-detailed-bottom__right {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .card-detailed-bottom {
    &__content {
      gap: 20px;
    }
  }
}