.filter {
  &__open {
    display: none;
  }
  &__hidden-top {
    display: none;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: calc(302 / 1280 * 100%);
  }
  &__hidden-bottom {
    display: none;
  }
  &__box-reset {
    display: none;
  }
}

@media (max-width: 1100px) {
  .filter {

    &__item {
      width: calc(229 / 976 * 100%);
    }
  }
}

@media (max-width: 950px) {
  .filter {
    &__item {
      width: calc(165 / 720 * 100%);
    }
  }
}

@media (max-width: 750px) {
  .filter {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__open {
      width: 100%;
      padding: 16px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--black);
      font-family: var(--font-family);
      font-size: 15px;
      font-style: normal;
      font-weight: 200;
      line-height: 133.333%;
      background-color: var(--gray-50);
      .text {
        display: flex;
        align-items: center;
        gap: 4px;
      }
      .count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        color: var(--white);
        text-align: center;
        font-family: var(--font-family);
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        line-height: 142.857%;
        border-radius: 100%;
        background-color: var(--dark-blue);
      }
      .svg {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:focus,&:focus-visible {
        outline: none;
      }
    }
    &__wrapper {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      inset: 0;
      z-index: 6;
      padding: 28px 16px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: space-between;
      background-color: var(--white);
      transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
      &-top {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
    &__item {
      width: 100%;
    }
    &__hidden-top {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 24px;
    }
    &__btn-back {
      display: flex;
      gap: 12px;
      align-items: center;
      color: var(--black);
      font-family: var(--font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 200;
      line-height: 125%;
      .svg {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:focus,&:focus-visible {
        outline: none;
      }
    }
    &__title {
      color: var(--black);
      font-family: var(--font-family);
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &__list {
      flex-direction: column;
    }
    &__hidden-bottom {
      display: flex;
    }
    &__reset {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 20px;
      color: var(--black);
      font-family: var(--font-family);
      font-size: 18px;
      font-style: normal;
      font-weight: 200;
      line-height: 111.111%;
      background-color: var(--gray-50);
      .svg {
        display: flex;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
        background-color: #CE1B1B;
      }
      &:focus,&:focus-visible {
        outline: none;
      }
    }

    &__box-reset {
      display: flex;
      .filter__reset {
        font-size: 15px;
        font-style: normal;
        font-weight: 200;
        line-height: 133.333%;
      }

    }
  }
}