.form-message {
  &__content {
    min-height: 611px;
    padding: 52px;
    background-color: var(--gray-50);
  }

  &__title {
    margin-bottom: 32px;
    color: var(--black);
    font-family: var(--font-family);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__wrapper {
    display: none;

    &.active {
      display: block;
    }
  }

  &__message {
    display: none;
    p {
      color: var(--black);
      font-family: var(--font-family);
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &.active {
      display: block;
    }
  }

  &__inputs-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  &__label {
    position: relative;

    span.is-error {
      position: absolute;
      left: 5px;
      bottom: 5px;
      font-size: 10px;
      color: rgb(219, 28, 28);
    }

    &.name {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &.company {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &.phone {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    &.message {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
    }
  }

  &__input {
    width: 100%;
    padding: 23px 24px 21px;
    border: none;
    background-color: var(--white);
    border: 1.40px solid var(--white);
    color: var(--black);
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 133.333%;
    transition: border-color 0.4s ease-in-out;
    &.is-error {
      border-color: rgb(219, 28, 28);
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {}
  }

  &__textarea {
    padding: 23px 24px 21px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--white);
    border: 1.40px solid var(--white);
    color: var(--black);
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 133.333%;
    transition: border-color 0.4s ease-in-out;
    &.is-error {
      border-color: rgb(219, 28, 28);
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(109, 145, 198, 0.10);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--blue);
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  &__btn-group {
    margin-bottom: 12px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__label-file {
    width: fit-content;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 12px;
    span.is-error {
      display: none !important;
    }

    &:has(.form-message__input-file.is-error) {
      .label-file__info {
        color: rgb(219, 28, 28);
        opacity: 1;
      }
    }

    .castom-file {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 8px;
      color: var(--black);
      font-family: var(--font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 200;
      line-height: normal;

      .svg {
        display: flex;
      }
    }
  }

  &__input-file {
    display: none;
  }

  .label-file__info {
    display: flex;
    flex-direction: column;
    color: var(--black);
    font-family: var(--font-family);
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
    line-height: 138.462%;
    opacity: 0.5;
    transition: color 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  &__submit {
    max-width: 384px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px 21px 21px;
    background-color: var(--blue);
    border: 1px solid var(--gray-50);
    color: #FFF;
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 133.333%;
    transition: border-color 0.4s ease-in-out;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      border-color: var(--blue);
    }
  }

  &__desc {
    color: #979797;
    font-family: var(--font-family);
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;

    a {
      text-decoration: underline;

      &:focus,
      &:focus-visible {
        outline: none;
      }

      &:focus-visible,
      &:hover,
      &:active {
        color: var(--blue);
      }
    }
  }
}

@-moz-document url-prefix() {
  .form-message__textarea {
    scrollbar-width: thin;
    scrollbar-color: var(--blue) rgba(109, 145, 198, 0.10);
  }
}

@media (max-width: 1100px) {
  .form-message {
    &__content {
      min-height: 510px;
      padding: 32px;
    }

    &__title {
      margin-bottom: 20px;
      font-size: 24px;
    }

    &__message {
      p {
        font-size: 24px;
      }
    }

    &__inputs-group {
      row-gap: 8px;
      column-gap: 24px;
    }

    &__input {
      padding: 16px 20px;
      font-size: 17px;
      line-height: 141.176%;
    }

    &__textarea {
      padding: 16px 20px;
      font-size: 17px;
      line-height: 141.176%;
    }

    &__btn-group {
      margin-bottom: 8px;
      padding-top: 12px;
      gap: 28px;
    }

    &__submit {
      max-width: 100%;
      width: calc(444 / 912 * 100%);
      padding: 17px 15px 15px;
      font-size: 17px;
    }

    &__desc {
      width: calc(444 / 912 * 100%);
    }
  }
}

@media (max-width: 950px) {
  .form-message {
    &__content {
      min-height: 593px;
      padding: 24px;
    }

    &__title {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: normal;
      text-align: center;
    }

    &__message {
      p {
        font-size: 20px;
        line-height: normal;
        text-align: center;
      }
    }

    &__inputs-group {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__input {
      padding: 14px 16px;
      font-size: 15px;
      line-height: 160%;
    }

    &__textarea {
      min-height: 108px;
      padding: 14px 16px;
      font-size: 15px;
      line-height: 160%;
    }

    &__btn-group {
      margin-bottom: 8px;
      padding-top: 8px;
      gap: 20px;
    }

    &__label-file {
      gap: 8px;
    }

    &__submit {
      padding: 14px;
      font-size: 16px;
      width: 100%;
    }

    &__desc {
      width: 100%;
    }
  }
}