.page-empty {
  height: 100%;

  &__container {
    padding: 260px 0 400px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      top: 88px;
      left: 70px;
      z-index: -1;
      width: 498px;
      height: 498px;
      background-image: url(../img/404/5.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    .top {
      margin-bottom: 10px;

      picture {
        display: flex;
      }
    }

    .desc {
      margin-bottom: 28px;
      color: var(--black);
      font-family: var(--font-family);
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%;
    }
  }

  &__link {
    max-width: 280px;
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    justify-content: center;
    padding: 16px;
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 133.333%;
    transition: border-color 0.4s ease-in-out;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      border-color: var(--blue);
    }
  }
}

@media (max-width: 1100px) {
  .page-empty {
    &__container {
      padding: 254px 0 345px;

      &::before {
        top: 145px;
        left: 33px;
        width: 342px;
        height: 342px;
        background-image: url(../img/404/5-1100.png);
      }

      .top {
        margin-bottom: 10px;
      }

      .desc {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 133.333%;
      }
    }
    &__link {
      max-width: 232px;
      font-size: 17px;
      line-height: 117.647%;
    }
  }
}

@media (max-width: 950px) {
  .page-empty {
    &__container {
      padding: 148px 16px 209px;

      &::before {
        display: none;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 350px;
      .top {
        margin-bottom: 0;
      }
      .desc {
        margin-bottom: 24px;
        font-size: 16px;
        line-height: normal;
      }
    }
    &__link {
      max-width: 100%;
      width: 100%;
      padding: 14px;
      font-size: 16px;
      line-height: 125%;
    }
  }
}

@media (max-width: 750px) {
  .page-empty {
    &__container {
      padding: 148px 16px 209px;
    }
  }
}