#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--white);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top-color: var(--dark-blue);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}