.read-description-swiper {
  max-height: 513px;

  .swiper-wrapper {
    height: auto;
  }

  .swiper-slide {
    height: auto;
    box-sizing: border-box;
  }

  .swiper-scrollbar.swiper-scrollbar-vertical, .swiper-vertical>.swiper-scrollbar {
    right: 0;
    top: 12px;
    height: calc(100% - 24px);
    width: 4px;
    border-radius: 0;
    background: rgba(109, 145, 198, 0.10);
  }
  .swiper-scrollbar-drag {
    border-radius: 0;
    background: var(--blue);
  }
}

@media (max-width: 1100px) {
  .read-description-swiper {
    max-height: 482px;
  }
}

@media (max-width: 950px) {
  .read-description-swiper {
    max-height: 482px;
    .swiper-scrollbar.swiper-scrollbar-vertical, .swiper-vertical>.swiper-scrollbar {
      right: 0;
      top: 24px;
      height: calc(100% - 48px);
    }
  }
}

@media (max-width: 750px) {
  .read-description-swiper {
    max-height: calc(100vh - 100px - 48px - 12px);
  }
}