.sections-about {
  position: relative;
  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset: 42px 0 0 0;
    background-image: url(../img/sec-about/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  &__line-top {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title-link {
    padding: 11px 24px;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 17px;
    white-space: nowrap;
    color: var(--black);
    background-color: var(--gray-100);
    transition: background-color 0.4s ease-in-out;
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      background-color: var(--gray-50);
    }
  }
  &__wrapper {
    margin-bottom: 55px;
    display: flex;
    gap: 24px;
    .left {
      width: calc(685 / 1280 * 100%);
      .main-title {
        margin-bottom: 24px;
      }
    }
    .right {
      flex: 1;
    }
  }

  &__line-swiper-title {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__swiper-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    color: var(--black);
  }

}

@media (max-width: 1100px) {
  .sections-about {
    &::before {
      display: none;
    }
    &__line-top {
      margin-bottom: 12px;
    }
    &__title-link {
      padding: 8px 24px;
      font-size: 16px;
    }
    &__wrapper {
      margin-bottom: 48px;
      flex-direction: column;
      .left {
        width: 100%;
      }
    }
    &__swiper-title {
      font-size: 26px;
    }
  }
}

@media (max-width: 950px) {
  .sections-about {
    &__line-top {
      margin-bottom: 16px;
    }
    &__wrapper {
      margin-bottom: 36px;
      gap: 24px;
    }
    &__swiper-title {
      font-size: 22px;
    }
  }
}

@media (max-width: 750px) {
  .sections-about {
    &__wrapper {
      margin-bottom: 52px;
      .left {
        .main-title {
          margin-bottom: 20px;
        } 
      }
    }
  }
}