.swiper-detailed {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  &-top {
    width: 100%;
    .swiper-slide {
      height: auto;
      box-sizing: border-box;
    }
  }

  &-wrapper-bottom {
    position: relative;
    .btn-arrow {
      width: 32px;
      min-width: 32px;
      height: 32px;
      position: absolute;
      top: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
      transition: opacity 0.4 ease-in-out;
      svg {
        width: 13px;
      }
      &.--next {
        right: 0;
        transform: translate(50%, -50%);
      }
      &.swiper-button-disabled {
        opacity: 0;
      }
    }
  }

  &-bottom {
    width: 100%;
    .swiper-slide {
      height: auto;
      box-sizing: border-box;
    }
  }
}

@media (max-width: 1100px) {
  .swiper-detailed {
    &-wrapper-bottom {
      .btn-arrow {
        width: 28px;
        min-width: 28px;
        height: 28px;
      }
    }
  }
}

@media (max-width: 950px) and (min-width: 750px) {
  .swiper-detailed {
    position: relative;
    &-wrapper-bottom {
      position: absolute;
      inset: 0 auto 0 0;
      width: 80px;
      .btn-arrow {
        display: none;
      }
    }
    &-bottom {
      height: 100%;
    }
  }
}

@media (max-width: 750px) {
  .swiper-detailed {
    gap: 4px;
    &-wrapper-bottom {
      .btn-arrow {
        width: 20px;
        min-width: 20px;
        height: 20px;
      }
    }
  }
}