.card-portfolio-detailed {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 81%;
  }

  &__link-img {
    position: absolute;
    inset: 0;
    display: flex;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      opacity: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.68) 100%);
      transition: opacity 0.4s ease-in-out;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    picture {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    max-width: 115px;
    position: absolute;
    bottom: 36px;
    left: 36px;
    color: #FFF;
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
}

@media (min-width: 1100px) {
  .card-portfolio-detailed {
    &__link-img {

      &:focus-visible,
      &:hover,
      &:active {
        &::before {
          opacity: 1;
        }

        .card-portfolio-detailed__title {
          opacity: 1;
        }
      }
    }
  }
}