.card-project {
  position: relative;
  &::before {
    content: '';
    display: block;
    padding-top: 70%;
  }
  &__time {
    padding: 6px 12px;
    position: absolute;
    pointer-events: none;
    z-index: 2;
    top: 32px;
    left: 32px;
    color: var(--white);
    text-align: center;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    background: rgba(217, 217, 217, 0.08);
    backdrop-filter: blur(3.0239999294281006px);
  }
  &__link {
    padding: 32px;
    position: absolute;
    inset: 0;
    height: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    //gap: 16px;
    transition: padding-bottom 0.4s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.80) 100%);
    }
    picture {
      position: absolute;
      inset: 0;
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      .card-project__more {
        position: relative;
        opacity: 1;
        height: 20px;
        visibility: visible;
        transform: none;
        transition: position 0.4s ease-in-out, opacity 0.4s ease-in-out, height 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
      }
      .card-project__title {
        padding-bottom: 16px;
        transition: padding-bottom 0.4s ease-in-out;
      }
    }
  }
  &__img {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    position: relative;
    z-index: 1;
    color: var(--white);
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 0;
    transition: padding-bottom 0.4s ease-in-out;
  }
  &__more {
    position: absolute;
    opacity: 0;
    height: 0;
    visibility: hidden;
    transform: translateY(100%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    color: var(--white);
    font-family: var(--font-family);
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    line-height: 117.647%;
    transition: position 0.5s ease-in-out, opacity 0.2s ease-in-out, height 0.4s ease-in-out, visibility 0.2s ease-in-out, transform 0.4s ease-in-out;
    .svg {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 1100px) {
  .card-project {
    &::before {
      padding-top: 92%;
    }
    &__time {
      top: 24px;
      left: 24px;
    }
    &__link {
      padding: 24px;
    }
    &__title {
      font-size: 18px;
    }
  }
}

@media (max-width: 950px) {
  .card-project {
    &::before {
      padding-top: 93%;
    }
  }
}

@media (max-width: 750px) {
  .card-project {
    &::before {
      padding-top: 59%;
    }
    &__link {
      padding: 20px;
    }
    &__title {
      font-size: 16px;
    }
  }
}