.card-portfolio {
  position: relative;
  height: 100%;
  picture {
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  &__img {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__box-info {
    height: 100%;
    padding: 52px;
    width: 658px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 92px;
    background: linear-gradient(270deg, rgba(30, 30, 30, 0) 0%, #1e1e1e 100%);
  }
  &__title {
    margin-bottom: 12px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 44px;
    line-height: 127%;
    color: var(--white);
  }
  &__desc {
    margin-bottom: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 26px;
    color: var(--white);
  }
  &__box-marker {
    margin-bottom: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
    .marker {
      font-family: var(--font-family);
      font-weight: 200;
      font-size: 16px;
      color: var(--white);
      padding: 8px 16px;
      border: 1px solid var(--white);
      border-radius: 50px;
    }
  }
  &__specification {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      font-family: var(--font-family);
      font-weight: 200;
      font-size: 19px;
      color: var(--white);
    }
  }
  .middle {
    right: 52px;
    bottom: 52px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__desc {
      font-family: var(--font-family);
      font-weight: 200;
      font-size: 16px;
      color: var(--white);
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

@media (max-width: 1100px) {
  .card-portfolio {
    &__box-info {
      padding: 32px;
    }
    &__title {
      margin-bottom: 8px;
      font-size: 32px;
    }
    &__desc {
      margin-bottom: 20px;
      font-size: 22px;
    }
    &__box-marker {
      margin-bottom: 24px;
      .marker {
        padding: 6.5px 16px;
        font-size: 15px;
      }
    }
    &__specification {
      p {
        font-size: 17px;
      }
    }
    &__box-info {
      gap: 36px;
    }
    .middle {
      right: 32px;
      bottom: 32px;
      align-items: end;
      gap: 12px;
      &__img {
        width: 213px;
        height: 136px;
      }
      &__desc {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 950px) {
  .card-portfolio {
    &__box-info {
      padding: 28px;
      width: 100%;
    }
    &__title {
      max-width: 432px;
      margin-bottom: 4px;
      font-size: 28px;
    }
    &__desc {
      margin-bottom: 12px;
      max-width: 432px;
      font-size: 20px;
    }
    &__box-marker {
      margin-bottom: 20px;
    }
    &__specification {
      gap: 12px;
      p {
        font-size: 16px;
      }
    }
    &__box-info {
      gap: 21px;
    }
    .middle {
      position: static;
      align-items: start;
      gap: 8px;
      &__img {
        width: 168px;
        height: 107px;
      }
    }
  }
}

@media (max-width: 750px) {
  .card-portfolio {
    &__box-info {
      padding: 20px;
    }
    &__title {
      margin-bottom: 8px;
      font-size: 24px;
    }
    &__desc {
      margin-bottom: 16px;
      font-size: 20px;
    }
    &__box-marker {
      margin-bottom: 12px;
      flex-direction: column;
      align-items: start;
    }
    .middle {
      align-items: center;
      &__img {
        width: 100%;
        height: 100%;
        max-width: 228px;
        max-height: 164px;
      }
      &__desc {
        font-size: 15px;
      }
    }
    .bottom {
      padding-top: 4px;
      flex-direction: column;
      gap: 8px;
    }
  }
}