.card-specifications {
  padding: 36px;
  width: 100%;
  background-color: var(--gray-50);
  &__title {
    margin-bottom: 20px;
    color: var(--black);
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__list {
    margin-bottom: 28px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    li {
      display: flex;
      justify-content: space-between;
      .name {
        color: #646464;
        font-family: var(--font-family);
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
      }

      .between {
        margin: 0 8px;
        flex: 1;
        min-width: 30px;
        opacity: 0.5;
        background-image: linear-gradient(to right, var(--black) 0%, var(--black) 60%, transparent 40%, transparent 100%);
        background-size: 10px 0.8px;
        background-position: left bottom 5px;
        background-repeat: repeat-x;
      }

      .info {
        color: var(--black);
        font-family: var(--font-family);
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: 127.778%;
      }
    }
  }
  &__line-btn {
    .show-more {
      height: 52px;
      width: 100%;
      font-size: 17px;
      font-style: normal;
      font-weight: 200;
      line-height: 141.176%;
      .svg {
        padding: 6px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .card-specifications {
    padding: 28px;
    &__title {
      margin-bottom: 16px;
      font-size: 20px;
    }
    &__list {
      gap: 12px;
      li {
        .name {
          font-size: 17px;
        }
        .info {
          font-size: 17px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .card-specifications {
    padding: 20px;
    &__title {
      font-size: 18px;
    }
    &__list {
      margin-bottom: 20px;
      li {
        .name {
          font-size: 14px;
          line-height: 130%;
        }
        .between {
          margin: 0 6px;
          min-width: 5px;
        }
        .info {
          font-size: 15px;
          line-height: 130%;
        }
      }
    }
    &__line-btn {
      .show-more {
        padding: 12px;
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
}