.card-video-materials {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 44.4%;
  }

  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    left: 48px;
    bottom: 48px;
    max-width: 576px;
    color: #FFF;
    font-family: var(--font-family);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media (max-width: 1100px) {
  .card-video-materials {
    &::before {
      padding-top: 48%;
    }

    &__title {
      max-width: 100%;
      left: 32px;
      right: 32px;
      bottom: 32px;
    }
  }
}

@media (max-width: 950px) {
  .card-video-materials {
    &__title {
      font-size: 22px;
    }
  }
}

@media (max-width: 750px) {
  .card-video-materials {
    &::before {
      padding-top: 77%;
    }
    &__title {
      font-size: 18px;
      left: 16px;
      right: 16px;
      bottom: 16px;
    }
  }
}