.card-services {
  position: relative;
  min-height: 321px;
  padding: 16px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  transition: background-color 0.4s ease-in-out;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__box-img {
    width: 53px;
    height: 53px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 100%;
    background-color: #E2E9F4;

    picture {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    color: var(--black, #1E1E1E);
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    transition: color 0.4s ease-in-out;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.8em;
    line-height: 1.2em;
  }

  &__desc {
    color: rgba(30, 30, 30, 0.50);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    transition: color 0.4s ease-in-out;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3.6em;
    line-height: 1.2em;
  }

  &__link {
    position: absolute;
    inset: 0;
    padding: 16px;
    display: flex;
    align-items: end;
    justify-content: center;

    .text {
      height: 49px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
      font-family: var(--font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
      background-color: var(--dark-blue, #002947);
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
}

@media (min-width: 750px) {
  .card-services {
    &:has(.card-services__link:hover) {
      background-color: var(--blue, #6D91C6);

      .card-services__title {
        color: var(--white, #FFF);
      }

      .card-services__desc {
        color: var(--white, #FFF);
      }

      .card-services__link {
        .text {
          opacity: 1;
        }
      }
    }

    &:hover {
      background-color: var(--blue, #6D91C6);

      .card-services__title {
        color: var(--white, #FFF);
      }

      .card-services__desc {
        color: var(--white, #FFF);
      }

      .card-services__link {
        .text {
          opacity: 1;
        }
      }
    }

    &__link {

      &:focus-visible,
      &:hover,
      &:active {
        .text {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .card-services {
    min-height: 192px;
    &__link {
      .text {
        display: none;
      }
    }
  }
}