.card-licenses {
  position: relative;

  /*&::before {
    content: '';
    display: block;
    padding-top: 132%;
  }*/

  &__main-link {
    /*position: absolute;
    inset: 0;*/
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    transition: background-color 0.4s ease-in-out;

    picture {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  &__title {
    color: var(--black);
    text-align: center;
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;
  }

  &__download-link {
    position: absolute;
    inset: 20px 20px auto auto;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;
    transition: opacity 0.4s ease-in-out;

    .size {
      font-size: 12px;
      line-height: 24px;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}

@media (max-width: 1100px) {
  .card-licenses {
    &__title {
      font-size: 17px;
      line-height: normal;
    }
  }
}

@media (min-width: 950px) {
  .card-licenses {
    &__main-link {
      &:has(.card-licenses__download-link:hover) {
        background-color: var(--gray-50);

        .card-licenses__title {
          opacity: 1;
        }
      }

      &:focus-visible,
      &:hover,
      &:active {
        background-color: var(--gray-50);

        .card-licenses__title {
          opacity: 1;
        }

        &+.card-licenses__download-link {
          opacity: 1;
        }
      }
    }
    &__download-link {
      opacity: 0;
    }
  }
}

@media (max-width: 950px) {
  .card-licenses {
    &__main-link {
      &:focus-visible,
      &:hover,
      &:active {
        .card-licenses__title {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .card-licenses {
    &__main-link {
      img {
        max-height: 216px;
      }
    }
  }
}