.card-dream-team {
  padding: 35px 36px;
  background-color: var(--gray-100, #EEF2F5);
  display: flex;
  align-items: start;
  gap: 36px;
  &__box-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__box-desc {
    color: var(--black, #1E1E1E);
    font-family: var(--font-family);
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

@media (max-width: 1100px) {
  .card-dream-team {
    padding: 32px;
    &__box-desc {
      font-size: 20px;
      line-height: 125%;
    }
  }
}

@media (max-width: 950px) {
  .card-dream-team {
    padding: 22px;
    gap: 23px;
    &__box-img {
      width: 64px;
      height: 64px;
    }
    &__box-desc {
      font-size: 18px;
    }
  }
}

@media (max-width: 750px) {
  .card-dream-team {
    flex-direction: column;
  }
}