.connection {
  display: flex;
  position: relative;

  &__btn {
    max-height: 52px;
    padding: 17px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: var(--dark-blue);
    background-color: var(--bgBtn);
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;

    .svg {
      display: none;
      align-items: center;
      justify-content: center;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      color: var(--white);
      background-color: var(--dark-blue);
    }
  }
}

@media (max-width: 1100px) {
  .connection {
    order: 3;

    &__btn {
      width: 48px;
      min-width: 48px;
      height: 48px;

      .text {
        display: none;
      }

      .svg {
        display: flex;
      }
    }
  }

}

@media (max-width: 750px) {
  .connection {
    display: none;
  }
}