.down-contact {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__main-btn {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: start;
    gap: 2px;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;

    &:has(> .down-contact__item:nth-child(3)) {
      .down-contact__item:nth-child(n+3) {
        display: none;
      }
    }
  }

  &__item {
    display: flex;

    a {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 16px;
      white-space: nowrap;
      color: var(--black);
      transition: color 0.4s ease-in-out;

      &:focus,
      &:focus-visible {
        outline: none;
      }

      &:focus-visible,
      &:hover,
      &:active {
        color: var(--dark-blue);
      }
    }

    span {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 16px;
      white-space: nowrap;
      color: var(--black);
      transition: color 0.4s ease-in-out;
    }
  }
  &__mode {
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    color: var(--black);
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

@media (max-width: 1100px) {
  .down-contact {
    &.email {
      display: none;
    }
    &__list {

    }
  }
}

@media (max-width: 950px) {
  .down-contact {
    &__mode {
      font-size: 13px;
    }
  }
}