.filter-checkbox {
  cursor: pointer;
  display: flex;
  &:focus-visible,&:hover,&:active {
    background-color: var(--gray-100);
  }
  
  
  &__input {
    position: absolute;
    opacity: 0;
    visibility: 0;
    &:focus,&:focus-visible {
      outline: none;
    }

    &:checked + .filter-checkbox__catom {
      color: var(--white);
      background-color: var(--dark-blue);
    }
  }
  &__catom {
    width: -webkit-fill-available;
    display: inline-block;
    padding: 20px;
    color: var(--black);
    font-family: var(--font-family);
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    line-height: 117.647%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background-color 0.4s ease-in-out;
  }
}

@media (max-width: 1100px) {
  .filter-checkbox {
    &__catom {
      padding: 16px 20px;
      font-size: 15px;
      line-height: 133.333%;
    }
  }
}

@media (max-width: 750px) {
  .filter-checkbox {
    &__input {
      &:checked + .filter-checkbox__catom {
        background-image: url(../img/filter-checkbox/icon.svg);
        background-repeat: no-repeat;
        background-position: center right 17px;
      }
    }
    &__catom {
      padding: 16px 40px 16px 16px;
      font-size: 18px;
      line-height: 111.111%;
    }
  }
}