@font-face {
  font-family: "Geologica";
  src: local("Geologica-ExtraLight"),
    url("../fonts/Geologica-ExtraLight.woff2") format("woff2"),
    url("../fonts/Geologica-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geologica";
  src: local("Geologica-Light"),
    url("../fonts/Geologica-Light.woff2") format("woff2"),
    url("../fonts/Geologica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geologica";
  src: local("Geologica-Medium"),
    url("../fonts/Geologica-Medium.woff2") format("woff2"),
    url("../fonts/Geologica-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geologica";
  src: local("Geologica-Regular"),
    url("../fonts/Geologica-Regular.woff2") format("woff2"),
    url("../fonts/Geologica-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geologica";
  src: local("Geologica-SemiBold"),
    url("../fonts/Geologica-SemiBold.woff2") format("woff2"),
    url("../fonts/Geologica-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geologica";
  src: local("Geologica-Thin"),
    url("../fonts/Geologica-Thin.woff2") format("woff2"),
    url("../fonts/Geologica-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}