.last-card-equipment {
  padding: 32px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--blue);

  &__box-desc {
    p {
      color: var(--white);
      font-family: var(--font-family);
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }

  &__box-connection {
    display: flex;

    .connection {
      width: 100%;

      &__btn {
        width: 100%;
        padding: 16px;
        border-radius: 50px;
      }

    }
  }
}

@media (max-width: 1100px) {
  .last-card-equipment {
    &__box-connection {
      .connection {
        &__btn {
          .text {
            display: inline-block;
          }
          .svg {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .last-card-equipment {
    min-height: 239px;
    padding: 24px;
    .connection {
      display: flex;
    }
  }
}