.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: clamp(5px, 2vw, 36px);
    a {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 16px;
      color: var(--black);
      white-space: nowrap;
      transition: color 0.4s ease-in-out;
      &:focus,&:focus-visible {
        outline: none;
      }
      &:focus-visible,&:hover,&:active {
        color: var(--dark-blue);
      }
    }
  }
}

@media (max-width: 950px) {
  .nav__list {
    a {
      font-size: 15px;
    }
  }
}

@media (max-width: 750px) {
  .nav {
    &__list {
      flex-direction: column;
      align-items: start;
      gap: 15px;
    }
    
  }
}