.page-title {
  margin-bottom: 24px;
  &:has(.page-title__desc) {
    margin-bottom: 32px;
  }
  &__container {
    &:has(.switcher) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      flex-wrap: wrap;
    }
  }
  &__text {
    color: var(--black);
    font-family: var(--font-family);
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.182%;
  }
  &__desc {
    padding-top: 8px;
    color: var(--black, #1E1E1E);
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
}

@media (max-width: 1100px) {
  .page-title {
    &:has(.page-title__desc) {
      margin-bottom: 24px;
    }
    &__text {
      font-size: 28px;
      line-height: normal;
    }
    &__desc {
      padding-top: 4px;
      font-size: 16px;
      line-height: 125%;
    }
  }
}

@media (max-width: 950px) {
  .page-title {
    &:has(.page-title__desc) {
      margin-bottom: 20px;
    }
    &__desc {
      padding-top: 8px;
      font-size: 15px;
    }
  }
}

@media (max-width: 750px) {
  .page-title {
    margin-bottom: 20px;
    &__text {
      font-size: 24px;
      line-height: normal;
    }
  }
}