.show-more {
  min-width: 288px;
  padding: 14px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white);
  gap: 4px;
  color: var(--white);
  transition: border-color 0.4s ease-in-out;
  .svg {
    transition: transform 0.4s ease-in-out;
  }
  &.active {
    .svg {
      transform: rotate(130deg);
    }
  }
  .svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:focus,&:focus-visible {
    outline: none;
  }
  &:focus-visible,&:hover,&:active {
    border-color: var(--blue);
  }
}