.slide-detailed-top {
  height: 100%;
  margin: 0 auto;
  display: flex;
  aspect-ratio: 1 / 1;
  &__link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus,&:focus-visible {
      outline: none;
    }
    picture {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 950px) {
  .slide-detailed-top {
    max-height: 332px;
    
    &__link {
      margin: 0 auto;
    }
  }
}