.switcher {
  position: relative;
  width: 240px;
  min-width: 240px;
  height: 52px;
  border-radius: 50px;
  background-color: var(--gray-50);
  &__label {
    cursor: pointer;
    display: flex;
  }
  &__input {
    position: absolute;
    inset: 0;
    visibility: hidden;
    opacity: 0;
    &:checked + .switcher__status {
      background-position: center right;
      i {
        &:first-child {
          color: var(--black);
        }
        &:last-child {
          color: var(--white);
        }
      }
    }
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible + .switcher__status{
      outline: 1px solid var(--gray-150);
    }
  }
  &__status {
    position: absolute;
    inset: 8px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    background-color: var(--white);
    background-image: url(../img/switcher/toggle.svg);
    background-repeat: no-repeat;
    background-position: center left;
    transition: background-position .3s ease-in-out;
    i {
      &:first-child {
        color: var(--white);
      }
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 200;
      font-size: 15px;
      line-height: 106.667%;
      transition: color 0.4s ease-in-out;
      color: var(--black);
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

@media (max-width: 1100px) {
  .switcher {
    margin: -8px 0;
  }
}

@media (max-width: 750px) {
  .switcher {
    display: none;
  }
}