.view-all {
  padding: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--black);
  font-family: var(--font-family);
  font-size: 17px;
  font-style: normal;
  font-weight: 200;
  line-height: 141.176%;
  background-color: var(--gray-50);
  &.active {
    .svg {
      transform: rotate(135deg);
    }
  }
  .svg {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out;
  }
  &:focus,&:focus-visible {
    outline: none;
  }
}