<div class="down-contact address">
  <h3 class="down-contact__title small-contacts-title">
    Адрес
  </h3>
  <div class="down-contact__wrapper">
    <ul class="down-contact__list list-reset">
      <li class="down-contact__item">
        <a href="https://yandex.ru/maps/org/telesen/1103255643/?ll=60.594596%2C56.824148&z=14" target="_blank">г. Екатеринбург, </a>
      </li>
      <li class="down-contact__item">
        <a href="https://yandex.ru/maps/org/telesen/1103255643/?ll=60.594596%2C56.824148&z=14" target="_blank">ул. Народной воли, 25</a>
      </li>
    </ul>
  </div>
</div>