<div class="dropdown-contact phone">
  <button class="dropdown-contact__main-btn btn-reset">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
      <use xlink:href="img/sprite.svg#btnPhone"></use>
    </svg>
  </button>
  <h3 class="dropdown-contact__title small-contacts-title">
    Телефон
  </h3>
  <div class="dropdown-contact__wrapper">
    <ul class="dropdown-contact__list list-reset">
      <li class="dropdown-contact__item">
        <a href="tel:+7 (343) 310-29-18">+7 (343) 310-29-18</a>
      </li>
      <li class="dropdown-contact__item">
        <a href="tel:+7 (343) 310-29-28">+7 (343) 310-29-28</a>
      </li>
      <li class="dropdown-contact__item">
        <a href="tel:+7 (343) 310-29-28">+7 (343) 310-29-28</a>
      </li>
      <li class="dropdown-contact__item">
        <a href="tel:+7 (343) 310-29-28">+7 (343) 310-29-28</a>
      </li>
      <li class="dropdown-contact__item">
        <a href="tel:+7 (343) 310-29-28">+7 (343) 310-29-28</a>
      </li>
      <li class="dropdown-contact__item">
        <a href="tel:+7 (343) 310-29-28">+7 (343) 310-29-28</a>
      </li>
      <li class="dropdown-contact__item">
        <a href="tel:+7 (343) 310-29-28">+7 (343) 310-29-28</a>
      </li>
    </ul>
    <button class="dropdown-contact__small-btn btn-reset">
      <svg width="8" height="4" viewBox="0 0 8 4" fill="none">
        <use xlink:href="img/sprite.svg#btnPhoneArrow"></use>
      </svg>
    </button>
  </div>
</div>