<div class="dropdown-contact email">
  <h3 class="dropdown-contact__title small-contacts-title">
    Эл. адрес
  </h3>
  <div class="dropdown-contact__wrapper">
    <ul class="dropdown-contact__list list-reset">
      <li class="dropdown-contact__item">
        <a href="mailto:telesen@telesen.ru">telesen@telesen.ru</a>
      </li>
    </ul>
    <button class="dropdown-contact__small-btn btn-reset">
      <svg width="8" height="4" viewBox="0 0 8 4" fill="none">
        <use xlink:href="img/sprite.svg#btnPhoneArrow"></use>
      </svg>
    </button>
  </div>
</div>