<div class="path">
  <div class="container">
    <div class="path__list">
      <div class="path__item">
        <a href="#" class="path__link">
          <span class="text">Главная страница</span>
        </a>
        <span class="arrow">
          <svg width="12" height="20" viewBox="0 0 12 20" fill="none">
            <use xlink:href="img/sprite.svg#pathArrow"></use>
          </svg>
        </span>
      </div>
      <div class="path__item last-item">
        <span class="text">Контакты</span>
      </div>
    </div>
  </div>
</div>