<div class="signal">
  <button class="signal__btn btn-reset">
    <svg width="16" height="18" viewBox="0 0 16 18" fill="none">
      <use xlink:href="img/sprite.svg#signal"></use>
    </svg>
  </button>
  <div class="signal__down">
    <p class="signal__maon-desc">
      Реализовали новый объект
    </p>
    <p class="signal__desc">
      Ввели в эксплуатацию новый проект «под ключ»
    </p>
    <a href="#" class="signal__link">
      <span class="text">
        Подробнее
      </span>
      <span class="svg">
        <svg width="22" height="9" viewBox="0 0 22 9" fill="none">
          <use xlink:href="img/sprite.svg#btnArow"></use>
        </svg>
      </span>
    </a>
  </div>
</div>