@forward "components/basic";
@forward "components/fonts";
@forward "boxs/preloader";
@forward "boxs/header";
@forward "components/logo";
@forward "components/dropdown-contact";
@forward "components/signal";
@forward "components/search";
@forward "components/connection";
@forward "components/burger";
@forward "boxs/box-modal";
@forward "boxs/form-1";
@forward "components/nav";
@forward "components/linkTV";
@forward "components/down-contact";
@forward "components/dropdown-nav";
@forward "boxs/sections-main";
@forward "components/card-sections-main";
@forward "boxs/sections-about";
@forward "boxs/box-counter";
@forward "components/card-counter";
@forward "components/counter";
@forward "boxs/trust-swiper";
@forward "components/card-trust";
@forward "components/btn-swiper-1";
@forward "boxs/portfolio-swiper";
@forward "components/card-portfolio";
@forward "boxs/sections-portfolio";
@forward "components/btn-swiper-2";
@forward "components/portfolio-name";
@forward "components/path";
@forward "boxs/box-portfolio";
@forward "components/switcher";
@forward "components/card-project";
@forward "boxs/filter";
@forward "components/dropdown-filter";
@forward "components/filter-checkbox";
@forward "boxs/box-message";
@forward "boxs/box-portfolio-detailed";
@forward "boxs/portfolio-detailed-swiper";
@forward "components/card-portfolio-detailed";
@forward "boxs/box-video";
@forward "components/card-video";
@forward "boxs/box-same";
@forward "boxs/box-portfolio-detailed-2";
@forward "boxs/read-description";
@forward "boxs/read-description-swiper";
@forward "boxs/box-example";
@forward "components/example-link";
@forward "boxs/dropdown-filter-swiper";
@forward "boxs/portfolio-name-swiper";
@forward "boxs/box-top-equipment";
@forward "boxs/box-list-equipment";
@forward "components/card-equipment";
@forward "components/last-card-equipment";
@forward "components/view-all";
@forward "boxs/box-our-partners";
@forward "boxs/our-partners-swiper";
@forward "components/card-our-partners";
@forward "boxs/box-ready";
@forward "components/page-title";
@forward "boxs/ready-swiper";
@forward "boxs/box-table-offer";
@forward "boxs/table-offer";
@forward "components/show-more";
@forward "boxs/box-contacts";
@forward "boxs/form-message";
@forward "boxs/box-licenses-list";
@forward "components/card-licenses";
@forward "boxs/page-empty";
@forward "boxs/box-portfolio-map";
@forward "boxs/map-preview-swiper";
@forward "components/card-map-preview";
@forward "boxs/card-detailed-top";
@forward "components/slide-detailed-top";
@forward "boxs/swiper-detailed";
@forward "components/slide-detailed-bottom";
@forward "boxs/card-detailed-bottom";
@forward "components/card-specifications";
@forward "boxs/box-about";
@forward "boxs/box-dream-team";
@forward "components/card-dream-team";
@forward "boxs/box-about-bottom";
@forward "boxs/table-registry";
@forward "components/card-reviews";
@forward "boxs/box-job";
@forward "components/card-job";
@forward "components/box-jop-tabs";
@forward "boxs/box-our-customers";
@forward "boxs/box-our-services";
@forward "components/box-services-tabs";
@forward "components/card-services";
@forward "boxs/swiper-service-detailed";
@forward "components/card-service-detailed";
@forward "boxs/box-competencies";
@forward "boxs/box-presentations";
@forward "boxs/box-modal-1";
@forward "components/dropdown-presentations";
@forward "components/card-presentations";
@forward "boxs/box-video-materials";
@forward "boxs/swiper-video-materials";
@forward "components/card-video-materials";

@forward "boxs/footer";

